.page {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.listSection {
  flex: 1;
  min-width: 16rem;
}

.detailSection {
  flex: 2;
}

.detailActions {
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}
